/*--------------------------------------------------
Base Elements Styles
----------------------------------------------------*/

*{
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
 	color:#7f7f7f;
}


 [type="text"]{
 	color:#7f7f7f;
	padding:1em;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	width: calc(95% - 32px);

}

.wrapper {
	min-height: calc(100vh - 50px);
	margin-top:1em;
}

#images {
	list-style-type: none;
}



/*--------------------------------------------------
Base Layout Styles
----------------------------------------------------*/

header,section,footer {
	padding:1em;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 95%;
}

#images {
	margin: 0;
	padding:0;
}

#images li {
	margin-bottom:1em;
}

#images  a{
	list-style-type:none;
	margin-bottom: 2em;
	opacity: 1; 
	transition-duration:.5s;
}

#images a:hover {
	opacity: 0.5

}

.sticky {
	position:fixed;
	background-color:#fff;
	z-index: 1000;
	box-shadow:  0 1px 4px rgba(0,0,0,.6);
	width:100%;
	top:0;

}






/*--------------------------------------------------
	Media Queries
----------------------------------------------------*/

@media  screen and  (min-width:359px ) {
	
	section {
		text-align: center;
		
	}

	

	.container {

		width: 90%;
	}

	#images li {
		display:inline-block;
		width: 45%;
				
	}

}

@media  screen and  (min-width:769px ) {

	section {
		text-align: center;
	}
	
	[type="text"] {
		width: 460px;
	}

	.container {
		
		max-width: 980px;
		
	}

	
	#images li {
		width: 17%;	
		margin-right:6%;

				
	}
	
}

